body{
  background-color: rgb(50, 50, 50);
}
.gamePage{
  display: flex;
  flex-direction: column;
  /* margin-right: auto;
  margin-left: auto; */
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.game{
  
}

.canvas{
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

#overlay-canvas{
  z-index: 1000;
}

.gameUI{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  padding-top: 610px;
}

.gameUI :disabled:hover{
  background-color: white;
  cursor: default;
}

.chain:hover{
  background-color: darkgray;
  cursor: pointer;
}

.chain{
  padding: 5px;
  font-size: 18px;
  margin-right: 5px;
}

.chain-actions{
  margin-left: 50px;
}

.chain-action:hover{
  background-color: darkgray;
}
.chain-action{
  font-size: 24px;
}