body{
  background-color: #121212;
}
.game-title{
  text-align: center;
  padding: 25px;
}

.title-copy{
  font-family: 'Karla', sans-serif;
  color: #ededed;
  font-size: 30px;
  letter-spacing: 2px;
  height: 64px;
  width: auto;
}

.gamePage{
  font-family: 'Karla', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 600px;
  border-radius: 5%;
  background-color: rgb(60, 60, 60);
  padding: 40px 60px 100px 60px;
}

.canvas{
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

#overlay-canvas{
  z-index: 1000;
}

.gameUI{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 30px;
  padding-top: 610px;
}


.track-switches{
  vertical-align: text-top;
  height: 35px;
}
.track-heading{
  color: #ededed;
  margin-right: 5px;
  vertical-align: text-top;
  height: 35px;
}

.track{
  margin-right: 3px;
	/* background-color:#ededed; */
	background-color:#ededed;
  border: none;
  border-radius: 20%;
	display:inline-block;
	cursor:pointer;
	padding:6px 12px;
  text-decoration:none;
  color:black;
  font-size: 18px;
}
.track:enabled:hover {
	background:linear-gradient(to bottom, #ccc 5%, #ededed 100%);
  background-color: #ccc;
}
.track:disabled {
	background:linear-gradient(to bottom, #56c4ff 5%, #2577bf 100%);
  background-color:#09006a;
  color: #dfdfdf;
  cursor: default;
}

.track-actions{
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  border: none;
}

.track-action:hover{
  background-color: #ccc;
}
.track-action{
  margin-right: 3px;
  margin-left: 3px;
  border: none;
  color:black;
  font-size: 18px;
  padding:6px 12px;
  vertical-align: text-top;
  height: 35px;
}

#clear-button{
  border-radius: 10px;
}

#clear-all-button{
  border-radius: 8px;
}

#undo-button{
  border-radius: 20%;
}
#play-button{
  border-radius: 20%;
}

/* solo/not solo switch */
.solo{
  color: #ededed;
}

.switch{
  margin-left: 5px;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-right: 3px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.mute{
  color: #ededed;
  margin-right: 5px;
}

.checkboxes{
  padding-top: 9px;
  margin-right: 10px;
}

.instructions{
  margin-left: 5px;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 28px;
  color: #ededed;
  border: solid #ededed 2px;
  border-radius: 50%;
}
.instructions:hover{
  cursor: pointer;
  visibility: visible;
}

.instructions:hover .instructions-copy{
  visibility: visible;
}

.instructions-copy{
  visibility: hidden;
  position: absolute;
  bottom: 50px;
  right: 10px;
  width: 400px;
  border: solid #121212 .5px;
  background-color: #ededed;
  border-radius: 8px;
  padding: 20px;
  z-index: 1001;
  color: #121212;
  font-size: 14px;
  line-height: 15px;
  text-align: justify;
}

.bold-instructions{
  font-size: 15px;
  font-weight: 1000;
}

.definition-instructions{
  font-size: 14.5;
  font-weight: 1000;
}
