body{
  background-color: rgb(50, 50, 50);
}
.gamePage{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.game{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.gameUI{
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.gameUI :disabled:hover{
  background-color: white;
  cursor: default;
}

.gameUI :hover{
  background-color: darkgray;
  cursor: pointer;
}

.chain{
  font-size: 18px;
}

.chain-action{
  font-size: 24px;
}