.sidebar-sound{
  /* position: absolute;
  left: 0;
  right: -10;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer; */
}

.sidebar-buttons{
  background-color: #ccc;
  padding-top: 10px;
  margin-bottom: 20px;
  height: 590px;
  width: 85px;
  display: flex;
  flex-direction: column;
}

.sidebar-buttons img{
  height: 60px;
  width: auto;
  margin-bottom: 30px;
}